.jumbotron img{
    width: 200px;
    border: 5px solid rgb(75, 67, 49);
    
}
hr {
    width: 400px;
    border: solid  rgb(185, 180, 180);

}
p {
    text-align: justify;

}
section {
    min-height: 600px;
    background-color: lightgrey;
    padding-top: 60px;
}
.jumbotron p{
    text-align: center;
}
.row {
    padding-bottom: 40px;
}
.thumbnail img{
    border: 5px solid rgb(185, 180, 180);
}
.form-group{
    width: 350px;
}
button{
    background-color: darkgrey;
}
.footer li{
    display: inline-block;
    padding-right: 10px;
}